header {
    background: $cor-primaria;
    padding: 25px;
    form {
        position: relative;
        input[type='text'] {
            width: 100%;
            border:none;
            border-radius: 20px;
            padding: 10px 20px;
            outline:none;
        }

        button {
            background:none;
            border:none;
            position: absolute;
            right: 30px;
        }
    }
    ul {
        li {
            position:relative;

            span.notificacao {
                position: absolute;
                color: $branco;
                background: $rosa;

                font-size: 10px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                bottom: 18px;
                left: 4px;
            }
            a {
                font-size: 16px;
                font-weight: bold;
                color: $cor-secundaria;
                svg {
                    font-size: 23px;

                }
                &:hover{
                    color:initial;
                }
            }
        }
    }
}