nav.nav-produtos {
    background: $cor-secundaria;
    color: $branco;
    
    li {
        font-size: 18px;
        position: relative;
        padding: 10px 10px;

        &:hover {
            background: darken($color: $cor-secundaria, $amount: 8);
            ul.nav.flex-column{
                display: block;
            }
        }
        ul.nav {
            width: 100%;
            border-top: 10px solid $cor-primaria;
            background: $cor-secundaria;
            text-indent: 20px;
            z-index:10;
            display:none;
            position: absolute;
            top: 50px;
            left: 0;
            li {
                
                a {
                    color: $branco;
                }
            }
        }
    }
}